<h1 class="page-header">Sample types</h1>

<table class="list" width="100%">
<thead>
<tr>
<td>Code</td>
<td>Name</td>
<td>Unit</td>
<td>Typical Range</td>
</tr>
</thead>
<tbody>
#foreach ($sampleType in $sampleTypes) 
<tr>
<td>${sampleType.code}</td>
<td>${sampleType.name}</td>
<td>${sampleType.unit}</td>
</tr>
#end
</tbody>
</table>

<a href="sampletype-create.jsp"><span class="glyphicon glyphicon-plus"></span> New sample type</a>

