/* allow for <a> tags without href */
a {cursor:pointer;};
    
ul.left-menu {list-style-type:none;margin-left:0;padding:0;  list-style-position: inside;}
ul.left-menu li {list-style-type:none;margin:0;padding:0}
div.leftCol li {list-style-type:none;margin:0.8em;padding:0}


table.list {border-collapse: collapse; width:100% }
table thead, table tfoot {background-color: #eee; font-weight:bold;}
table.list td, table.list th { border: 1px solid #ccc; padding:4px; vertical-align:top;}
table.list th {background:#eee}

table.list tr.deleted {text-decoration: line-through;}
table.list tr.lc_DELETED {display:none;text-decoration:line-through;}
table.list tr.lc_NORMAL .undelete {display:none; text-decoration:none;}
table.list tr.s_ELIMINATED td.strikethruable {text-decoration:line-through;}


table.login {margin-bottom:1em;}
table.login td {padding:0.5em;}

.strix-logo-login {font-size:72px}
.strix-logo i {font-size:154%;}
.strix-logo .version {font-size:14%;text-align:right; position:relative;top:-3em}
.strix-logo .tagline {font-size:20%;text-align:right; position:relative;top:-2em;right:1em;}

.navbar-inverse .navbar-brand {color:white}

.tag-list {line-height:120%}
.tag-label {font-size: 1em; line-height:2em; margin:0.5em 0.5em 0.5em 0}

.help {font-size:small; display:none; border: 1px solid #888;padding:1em;margin-bottom:1em}

/* 
 * Typeahead styling. Suggestions menu styling from
 * http://stackoverflow.com/questions/20198247/twitters-typeahead-js-suggestions-are-not-styled-have-no-border-transparent-b
 */
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #ffffff;
  background-color: #428bca;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}
/* end typeahead styling */


/* Score color styling */
.SCALE_5_0 {background: #f00;}
.SCALE_5_1 {background: #f80;}
.SCALE_5_2 {background: #ff0;}
.SCALE_5_3 {background: #af0;}
.SCALE_5_4 {background: #88f;}

.SCALE_3_0 {background: #f00;}
.SCALE_3_1 {background: #ff0;}
.SCALE_3_2 {background: #af0;}

.YES_NO_0 {background: #f00;}
.YES_NO_1 {background: #af0;}
.NO_YES_0 {background: #f00;}
.NO_YES_1 {background: #af0;}

.score_comment {font-size: 75%;}


/*
 * Master layout styling
 * From example at: http://getbootstrap.com/examples/dashboard/
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
/* end master layout stling */

